@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";


:root{
  --primary: #F159A5;
  --background: 330 30% 98%;
  --foreground: #3D2833;
} 

body{
  margin: 0;
  font-family: "Nunito", sans-serif;
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

h1,h2,h3,h4,h5,h6{
  font-family: "Quicksand", sans-serif;
}

::selection {
  background: hsl(var(--primary) / 0.2);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    /* evita tokens custom si tu config todavía está inestable */
    @apply bg-white text-slate-900 antialiased;
    font-family: "Nunito", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Quicksand", sans-serif;
    /* font-family: "Nunito", sans-serif; */
    @apply font-bold text-slate-900 tracking-tight;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}